html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  background: #333;
}

section {
  background-image: url('images/hazy.png');
  background-size: cover;
  height: 1000px;
  width: 1000px;
  text-align: center;
  padding: 80px;
  border-radius: 500px;
  margin: 100px auto;
  transition: ease .4s;
}

section div {
  vertical-align: middle;
}

section:hover {
  box-shadow: 12px 12px 80px rgba(0,0,0,.4);
}

h1, p {
  color: #ffffff;
}

h1 {
  font-size: 100px;
  margin: 20px 0;
}

p {
  font-size: 24px;
  font-weight: 300;
}

